* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/wallpaper.jpg);
    
}

.logo {
    width: 300px;
    display: block;
    margin: 20px auto;
    display: none;
}

main {
    width: 375px;
    background: #F4F4F4;
    border-radius: 20px;
    padding: 44px 24px 23px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    margin-top: 60px;
}

label {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

select, input {
    width: 100%;
    height: 48px;
    color: #555555;
    padding: 15px 18px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 24px;
    appearance: none;
}

button {
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    background: #518300;
    height: 48px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    border: 1px solid #518300;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.seta {
    margin: 15px 0;
}

.caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.moeda {
    color: #777777;
    font-size: 14px;
    line-height: 18px;
}

.valor-para-converter, .valor-convertido {
    color: #555555;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
}